<div class="container text-center">
 <!--フラッシュメッセージ-->
 <% if notice %>
  <div class="alert alert-success mt-3">
    <%= notice %>
  </div>
  <% end %>
 <%= render 'info', reader: @reader %>
   
  <div>
    <%= link_to "編集", edit_reader_reader_path, class: "btn btn-success mr-3" %><br>
    <%= link_to "back", reader_animals_path %>
  </div>

</div>