  <div class="card mt-2 ">
    <div class="card-body">
      <table class="table flex-wrap">
        <tr>
          <td class="font-weight-bold ">
            <%= facility.facility_name %>
          </td>
        </tr>
        <tr>
          <td>
            <% if facility.user_facility_name.present? %>
              <%= facility.user_facility_name %>
            <% else %>
              <%= facility.first_name %><%= facility.last_name %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>