
  <div class="col-3">
    <div>
      <%= link_to reader_animal_path(favo.id) do %>
        <%= image_tag favo.images.first, class: "rounded-circle", size: "100x100" %><br>
        <%= favo.name %>
      <% end %>
    </div>
  </div>
