<% animal.comments.each do |comment| %>
  <div class="text-center">
    <div class="font-weight-bold mt-3"><%= comment.reader.user_name %></div>
    <div class="come rounded">
      <p class="text-left ml-2 mt-2"><%= comment.comment %></p>
      <div class="time_ago text-right mr-2 mb-2"><%= time_ago_in_words(comment.created_at) %></div>
    </div>
    <% if comment.reader == current_reader %>
      <%= link_to "削除", reader_animal_comment_path(animal, comment), method: :delete, class: "btn btn-danger", remote: true %>
    <% end %>
  </div>
<% end %>