<% if animal.favorited_by?(current_reader) %>
    <p>
      <%= link_to reader_animal_favorites_path(animal), method: :delete, remote: true do %>
        <i class="fas fa-star"></i><%= animal.favorites.count %>
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to reader_animal_favorites_path(animal), method: :post, remote: true do %>
        <i class="far fa-star"></i><%= animal.favorites.count %>
      <% end %>
    </p>
  <% end %>