<div class="container text-center">
  <h1>Welcome to Anima"</h1>
  <p>
    このアプリは、すべてのワンちゃん、猫ちゃんが幸せなるようにと作りました。<br>
  　これから飼い主になる方、保護犬保護猫の出会いの場になればと思っています<br>
    もちろん、癒され目的でも大丈夫です。<br>
    どうか良いご縁がありますように、と願っています。
  </p>

  <!--<a href="#">ゲストログインはこちらから</a><br>-->
  <%= link_to "施設のご登録はこちらから", new_facility_registration_path %><br>
  <%= link_to "個人のご登録はこちらから", new_reader_registration_path %>
</div>