@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.login {
  min-width: 90px;
}

.f-login {
  min-width: 125px;
}

.logo-text {
  position: absolute;
  top: 10;
  left: 20;
}

:root {
  --swiper-navigation-color: black;
  --swiper-pagination-color: black;
}

.icon {
  font-size: 32px;
}

.twitter {
  color: #55acee;
}

.instagram {
  color: #e1306c;
}

.facebook {
  color: #315096;
}

.favo {
  color: #fcc800;
}

.no-favo {
  color: gray;
}

.card-comment {
  width: 400px;
  background-color: #d4d9dc;
  display: inline-block;
}

.time_ago {
  font-size: 10px;
}

.comment-name {
  color: #000000;
}