@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.arrow{
  width: 50px;
  height: 50px;
}

.welcome {
  position: absolute;
  top: 600px;
  width: 100%;
  left: 0px;
  font-size: 90px;
  padding: 30px;
  background-color: rgb(255, 255, 255, 0.562);
}

.login {
  min-width: 90px;
}

.f-login {
  min-width: 125px;
}

.logo-text {
  position: absolute;
  top: 10;
  left: 20;
}

.top-facility {
  font-size: 20px;
  background: linear-gradient(transparent 0%, #28a745 0%);
  color: white;
}

.top-reader {
  font-size: 20px;
  background: linear-gradient(transparent 0%, #17a2b8 0%);
  color: white;
}

.number {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 30px;
}

.list {
  background: linear-gradient(transparent 30%, yellow 0%);
  padding-bottom: 2px;
  animation: marker 3s ease 0s; /*マーカーを引く速度*/
}

:root {
  --swiper-navigation-color: black;
  --swiper-pagination-color: black;
}

.icon {
  font-size: 32px;
}

.twitter {
  color: #55acee;
}

.instagram {
  color: #e1306c;
}

.facebook {
  color: #315096;
}

.favo {
  color: #fcc800;
}

.no-favo {
  color: gray;
}

.card-comment {
  width: 300px;
  background-color: #d4d9dc;
  display: inline-block;
}

.time_ago {
  font-size: 10px;
}

.comment-name {
  color: #000000;
}

// タブレット横置き
@media screen and (max-width: 1180px) {
  .reader-login {
    display: inline-block;
  }

  .welcome {
    position: absolute;
    top: 400px;
    width: 100%;
    font-size: 80px;
    padding: 30px;
    background-color: rgb(255, 255, 255, 0.562);
  }
}

// タブレット（縦）
@media screen and (max-width: 820px) {
  .welcome {
    position: absolute;
    top: 300px;
    width: 100%;
    font-size: 50px;
    background-color: rgb(255, 255, 255, 0.562);
  }

  // 登録ボタン

}

// スマホ
@media screen and (max-width: 425px) {
  .welcome {
    position: absolute;
    top: 130px;
    width: 100%;
    font-size: 28px;
    padding: 10px;
    background-color: rgb(255, 255, 255, 0.562);
  }
}

