<div class="container text-center">
  <% if @favorites.present? %>
    <% @favorites.each do |favorite| %>
      <div class="mt-3">
        <%= link_to facility_reader_path(favorite.reader) do %>
          <%= image_tag favorite.reader.get_profile_image(150,150), class: "rounded-circle mt-5", size: "100x100" %>
          <%= favorite.reader.user_name %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <h4 class="mt-3">『気になる』はありません</h4>
  <% end %>
</div>