<div class="container text-center">
  準備中
  <!--<h3 class="mt-3">チャット一覧</h3>-->
  <!--<%# @rooms.each do |room| %>-->
  <!--  <%# if room.messages.size > 0 %>-->
  <!--    <div class="mt-3">-->
  <!--      <%#= link_to facility_room_path(room) do %>-->
  <!--      <%#= image_tag room.reader.get_profile_image(150,150), class: "rounded-circle", size: "150x150" %>-->
  <!--       <%#= room.reader.user_name %>-->
  <!--      <%# end %>-->
  <!--    </div>-->
  <!--  <%# end %>-->
  <!--<%# end %>-->
</div>