<!--<div class="container text-center">-->
<!--  <%# if @model == 'facility' %>-->
<!--    <h3>検索ワード：<%= @content %></h3>-->
<!--    <%#= render 'reader/facilities/index', facilities: @records %>-->
<!--  <%# else @model == 'animals' %>-->
<!--    <h3>検索ワード：<%= @content %></h3>-->
<!--    <%#= render 'reader/animals/index', animals: @records %>-->
<!--  <%# end %>-->
<!--</div>-->

