<footer>
  <div class='container-sm text-center mt-3'>
    	<div class='mx-auto'>
    	  <div class="border-top mb-3"></div>
  	  <!--アイコン-->
  	  <span class="icon" >
  	    <%= link_to do %><i class="fab fa-twitter-square mr-3 twitter"></i><% end %>
  	    <%= link_to do %><i class="fab fa-instagram-square mr-3 instagram"></i><% end %>
  	    <%= link_to do %><i class="fab fa-facebook-square facebook"></i><% end %>
  	  </span>
  	  
  		<p style="color: sandybrown;">CopyRight Infratop.inc.ポートフォリオ制作委員会</p>
  	</div>
  </div>
</footer>